@font-face {
  font-family: "Hack Nerd Font";
  src: url("/HackNerdFont.ttf");
}

$red-color: #EF3054;
$dark-background-color: #090909;
$normal-background-color: #171717;

:root {
  background-color: $normal-background-color;

  color: white;
  text-shadow: 0 0 4px white;
  font-family: "Hack Nerd Font";
}

.box {
  border: solid 4px $red-color;
  box-shadow: 0 0 10px $red-color;
  border-radius: 15px;

  background-color: $dark-background-color;

  color: $red-color;
  text-shadow: 0 0 3px $red-color;
}

button {
  background-color: $dark-background-color;

  transition: background-color 100ms;
}

button:hover {
  background-color: #151515;
}

button:active {
  background-color: #4D1822;
}

.text-input {
  background-color: $normal-background-color;
  border: none;
  border-radius: 5px;

  font-family: "Hack Nerd Font";
  font-size: 18px;
  color: $red-color;
  text-shadow: 0 0 3px $red-color;
}

.text-input:focus {
  outline: none;
}
