@font-face {
  font-family: "Hack Nerd Font";
  src: url("../public/HackNerdFont.ttf");
}

$red-color: #EF3054;
$dark-background-color: #090909;

:root {
  background-color: #171717;

  color: white;
  text-shadow: 0 0 4px white;
  font-family: "Hack Nerd Font";
}
