@import "styles.scss";

.box {
  border: solid 4px $red-color;
  box-shadow: 0 0 10px $red-color;
  border-radius: 15px;

  background-color: $dark-background-color;

  color: $red-color;
  text-shadow: 0 0 3px $red-color;
}